<div id="<%= dom_id event %>" class="w-full sm:w-auto my-5 space-y-5">
    <%= image_tag event.image_link, size: "150x150" if event.image_link %>
    <%= link_to event.url, class: "underline decoration-solid text-md text-blue-500 font-bold" do %>
        <h2><%= event.title %></h2>
    <% end %>
    <p class="truncate w-3xl text-sm"><%= event.description %></p>
    <p class="text-sm">
        <% if event.start_date && event.end_date %>
            <span class="font-bold"><%= event.start_date %></span> to
            <span class="font-bold"><%= event.end_date%></span>
            at
        <% end %>
        <span class="font-bold"><%= event.location %></span>
    </p>
</div>
